/*
format Stylesheet
v1.0.0
Last Updated: 2016-09-03
Author: White Wolf
Twitter: @White_Wolf_NeT
*/

@font-face {
	font-family: 'ImagineYokohamaFont';
	src: url('../font/imagine_YOKOHAMA.otf');
}

* {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: ImagineYokohamaFont;
	text-overflow:ellipsis
}

a{
	text-decoration: none;
	color: black;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
.sub_body{
	position: relative;
}

.sub_contents{
	position: absolute;
	top: 80vh;
	left: 0;
}

.sub_contents ul{
	list-style: none;
	color: rgba(255, 255, 255, 0.8);
}

.sub_contents ul li:first-child{
	position: relative;
	width: 50px;
	height: 30px;
	margin: 0 auto;
	padding: 5px 0 15px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	border: solid 3px rgba(255, 255, 255, 0.8);
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: rgb(233, 122, 80);
}

.sub_contents ul li:last-child{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.sub_contents ul li:first-child:before{
	display: block;
	content: "";
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 25px;
	right: 20px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	background: white;
}
.sub_contents ul li:first-child:after{
	display: block;
	content: "";
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 30px;
	right: 20px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	background-color: rgb(233, 122, 80);
}

.main_body{
	position: relative;
}

.main_contents{
	position: absolute;
	top: 100vh;
	left: 0;
	background-color: white;
	background-image:
	linear-gradient(transparent 95%, rgba(230, 230, 230, 0.2) 5%),
	linear-gradient(90deg, transparent 95%, rgba(230, 230, 230, 0.2) 5%);
	background-size: 20px 20px;
	background-repeat: repeat;
}

/*http://netgroup.sakura.ne.jp
タブレット端末サイズ
*/
@media screen and (max-width:1050px){
}

/*
スマホ端末サイズ
*/
@media screen and (max-width:650px){
	.sub_contents{
		top: 78vh;
	}
}