/*
header footer Stylesheet
v1.0.0
Last Updated: 2016-09-03
Author: White Wolf
Twitter: @White_Wolf_NeT
*/

header
{
	border-top: solid 5px rgb(0, 200, 200);
	background-color: rgba(0,0,0,0.8);
	background: -moz-linear-gradient(
		top,
		rgba(0,0,0,1) 0%,
		rgba(0,0,0,0.3));
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(rgba(0,0,0,1)),
		to(rgba(0,0,0,0.3)));
	position: fixed;
	left: 0;
	top: 0;
	width: 98%;
	padding: 1% 1% 0 1%;
}

.logo_group
{
	width: 20%;
	display: block;
	float: left;
}

.logo_group h1{
	font-size: 20px;
	color: white;
	width: 90%;
	margin: 0;
	padding: 0 1%;
}

.logo_group h2
{
	font-size: 10px;
	color: white;
	padding: 0 0.5%;
}

.nav_group
{
	width: 75%;
	display: block;
	float: right;
}

.nav_group ul
{
	width: 90%;
	margin: 0 auto;
	list-style: none;
}

.nav_group li
{
	width: 17%;
	float: left;
	text-align: center;
	vertical-align: middle;
}

.nav_group li a
{
	display: block;
	width: 90%;
	padding: 0 5% 5% 5%;
	font-size: 20px;
	color: white;
}

#contact_menu_tab{
	display: none;
}

.nav_group li a:hover{
	color: gray;
}

.nav_group li a p
{
	width: 80%;
	margin: 1% auto;
	padding: 1% 0;
	border-top: solid 1px;
	font-size: 10px;
}

#contact_menu
{
	width: 32%;
	margin: 1% 0;
}

#contact_menu li:first-child
{
	position: relative;
	width: 40%;
	max-height: 50px;
	max-width: 50px;
	min-height: 45px;
	min-width: 45px;
	z-index: 1;
}

#contact_menu li:first-child img
{
	position: absolute;
	left: 0;
	top: 0;
	max-height: 50px;
	max-width: 50px;
	min-height: 45px;
	min-width: 45px;
	border: solid 3px rgb(0, 200, 200);
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#contact_menu li:last-child
{
	width: 60%;
	padding: 8px 0 12px 30px;
	margin-left: -25px;
	border-top: none;
	font-size: 20px;
	height: 30px;
	border: solid 3px rgb(0, 200, 200);
	border-left: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.nav_group ul:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.nav_group:after
{
	content: "";
	display: block;
	clear: both;
	height: 0;
}

footer
{
	background-color: black;
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
}

.copywrigth
{
	text-align: center;
	vertical-align: sub;
	padding: 5px 0;
	clear: both;
	font-size: 10px;
	color: white;
	background: black;
}

/*http://netgroup.sakura.ne.jp
タブレット端末サイズ
*/
@media screen and (max-width:1050px){
	#contact_menu{
		display: none;
	}

	.nav_group li
	{
		width: 20%;
	}

	#contact_menu_tab{
		display: list-item;
	}
}

@media screen and (max-width:650px)
{
	footer
	{
		position: relative;
		left: 0;
		bottom: 0;
	}
}