/*
scroll animation Stylesheet
v1.0.0
Last Updated: 2016-09-03
Author: White Wolf
Twitter: @White_Wolf_NeT
*/

/* 共通CSS */
.list{
	margin: 50px 50px 50px 50px;
	list-style-type: none;
	overflow: hidden;
}
.list li{
	margin: 50px 20px 50px 20px;
	float: left;
	transition: .8s;
}

/* ズームイン */
.list-mv01{
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.mv01{
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}

/* フェードイン */
.list-mv02{
	opacity: 0;
}
.mv02{
	opacity: 1.0;
}

/* 回転 */
.list-mv03{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.mv03{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

/* 3D回転 */
.list-mv04{
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
}
.mv04{
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
}

/* 上移動 */
.list-mv05{
	transform: translate(0,40px); 
	-webkit-transform: translate(0,40px); 
}
.mv05{
	transform: translate(0,0); 
	-webkit-transform: translate(0,0);
}

/* 3D回転+ズームイン */
.list-mv06{
	transform: scale(0, 0) rotateY(180deg);
	-webkit-transform: scale(0, 0) rotateY(180deg);
}
.mv06{
	transform: scale(1, 1) rotateY(360deg);
	-webkit-transform: scale(1, 1) rotateY(360deg);
}

/* 移動+フェードイン */
.list-mv07{
	opacity: 0;
	transform: translate(0,60px); 
	-webkit-transform: translate(0,60px); 
}
.mv07{
	opacity: 1.0;
	transform: translate(0,0); 
	-webkit-transform: translate(0,0);
}

.list:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}

/*http://netgroup.sakura.ne.jp
タブレット端末サイズ
*/
@media screen and (max-width:1050px){
}

@media screen and (max-width:650px)
{
}